/build/classes/**/*
/WebContent/ui/**/*
/build/

/src/ReminderApplication.json
/src/servicekey/ReminderApplication.json
/src/servicekey/idonotremember.json
/src/com/login/facade/LoginFacade.java
/src/com/login/facade/Constants.java
/src/com/reminder/Config.java
/WebContent/map.html
/WebContent/WEB-INF/uiCode/node_modules/*
/WebContent/WEB-INF/uiCode/node_modules/*.*
/WebContent/WEB-INF/uiCode/node_modules/grunt/.npmignore
/WebContent/WEB-INF/uiCode/node_modules/grunt/appveyor.yml
/WebContent/WEB-INF/uiCode/node_modules/grunt/CONTRIBUTING.md
/WebContent/WEB-INF/uiCode/node_modules/grunt/internal-tasks/bump.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/internal-tasks/subgrunt.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/cli.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/config.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/event.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/fail.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/file.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/help.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/option.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/task.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/grunt/template.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/lib/util/task.js
/WebContent/WEB-INF/uiCode/node_modules/grunt/LICENSE-MIT
/WebContent/WEB-INF/uiCode/node_modules/grunt/package.json
/WebContent/WEB-INF/uiCode/node_modules/grunt/README.md
