/build/classes/**/*
/WebContent/ui/**/*
/build/

/src/ReminderApplication.json
/src/servicekey/ReminderApplication.json
/src/servicekey/idonotremember.json
/src/com/login/facade/LoginFacade.java
/src/com/login/facade/Constants.java
/src/com/reminder/Config.java
/WebContent/map.html
