<ion-view title="Login"  class="white" ng-controller="CTRL_Login as $ctrl" cache-view="false">
<ion-header-bar class="bar-positive">
      <h1 class="title">Login</h1>
    </ion-header-bar>
 <ion-content class="padding">
 <!-- 
	 <div ng-if="!conditionAgree">
		<button   ng-click="iAgree()"  name="signin" class="termsAgree">I agree</button>
	 	<iframe  src="/docs/globalTermsAndConditions.html" style="width: 90%; height: 1800px"></iframe>
		
		
	 </div>
	 -->
	 <div ng-init="login.type = 'signin'">
		<label>
		    <input style="width:20px;" type="radio" ng-model="login.type" value="signin" ng-init="checked=true">
		    Sign In
	  	</label>
	  <label>
	    <input style="width:20px;" type="radio" ng-model="login.type" value="signup">
	    Sign up
	  </label>
	 </div>
	<div style="padding-right: 10px;">
		<div ng-if="host != '' ">
		 	<input class="cash input-shadow"  type="text" placeholder="Your Email" ng-model="login.userName"/>
		 	<input type="password" class="cash input-shadow"  type="password" placeholder="Your Password" ng-model="login.password" />
		 	<input ng-if="login.type == 'signup'" type="password" class="cash input-shadow"  type="password" placeholder="Confirm password" ng-model="login.passwordconfirm" />
		 	
		</div>
	</div>
	
						
 
 	 <button ng-if="host == '' "  ng-click="$ctrl.signIN()" id="signin" name="signin" class="loginBtn loginBtn--google loginWithGoogle">Secure Sign in with Google</button>
 	
 	<div style="text-align: center;">
 	<br/>
		 <button class="email-sign-btn" ng-if="host != '' " 
		 ng-click="signInEmail()" id="signinEmail" name="signinEmail" 
		 ><span ng-if="login.type == 'signin'">Sign In</span> <span ng-if="login.type == 'signup'">Sign Up</span></button>
	 </div>
	
	
 </ion-content>
</ion-view>